<h4 style="color: white;">Please, introduce the amount you want to bet</h4>
<br>
<form action="/bet_amount" method="post" class="form-inline">
	<input type="text" name="bet_amount" style="margin-bottom: 20px;">
	<button class="btn btn-danger" style="margin-bottom: 20px;">Add Quantity</button>
</form>