<p>Please, introduce the amount you want to bet</p>
<br>
<form action="/bet_amount" method="post" class="form-inline">
	<input type="text" name="bet_amount">
	<button class="btn btn-danger">Add Quantity</button>
</form>