<h4 style="color: white;">You have no money left. Get out!</h4>
<br>
<div class="container">
<form action="/broke" method="post" class="form-inline">
	<button class="btn btn-danger" name="fight">Fight the bouncer</button>
	<button class="btn btn-primary" name="accept">Accept and go somewhere else</button>
</form>
</div>