<p>Please, introduce the new Player's name</p>
<br>
<form action="bet_amount" method="post" class="form-inline">
	<input type="text" name="user_name">
	<!-- <input type="submit" class="btn btn-danger"> -->
	<button class="btn btn-danger">Add Player</button>
</form>