<h4 style="color: white;">Please, introduce the new Player's name</h4>
<br>
<div class="container">
<form action="/user_name" method="post" class="form-inline">
	<input type="text" name="user_name">
	<button class="btn btn-danger">Add Player</button>
</form>
</div>
